<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pactera.spring.boot.learn.mapper.UserMapper">
    <!-- 获取用户列表 -->
    <select id="getUserList"
            parameterType="org.pactera.spring.boot.learn.model.dto.UserDataDTO"
            resultType="org.pactera.spring.boot.learn.model.vo.UserDataVO">
        select *
        from user
        where
        1=1
        <if test="req.id != null">
            AND id = #{req.id}
        </if>
        <if test="req.name != null and req.name != ''">
            AND name = CONCAT('%', #{req.name} , '%')
        </if>
        <if test="req.age != null">
            AND age = #{req.age}
        </if>
        <if test="req.email != null and req.email != ''">
            <bind name="emailLike" value="'%' + req.email + '%'"/>
            AND email = #{emailLike}
        </if>
        <if test="req.avatar != null and req.avatar != ''">
            AND avatar = #{req.avatar}
        </if>
    </select>

    <!-- 通过id获取用户详情 -->
    <select id="getUserDetail"
            resultType="org.pactera.spring.boot.learn.entity.UserEntity">
        SELECT *
        FROM user
        WHERE id = #{id}
    </select>

    <!-- 新增用户，单条 -->
    <insert id="insertUser"
            parameterType="org.pactera.spring.boot.learn.entity.UserEntity"
            useGeneratedKeys="true"
            keyProperty="req.id">
        INSERT INTO user (name, age, email, avatar)
        VALUE (#{req.name}, #{req.age}, #{req.email}, #{req.avatar})
    </insert>

    <!-- 新增用户，多条插入语句 -->
    <insert id="insertUserList"
            parameterType="org.pactera.spring.boot.learn.entity.UserEntity"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO user (name, age, email, avatar)
        VALUES
        <foreach collection="entityList" item="user" separator=",">
            (#{user.name}, #{user.age}, #{user.email}, #{user.avatar})
        </foreach>
    </insert>

    <!-- 更新用户，单条 -->
    <update id="updateUser"
            parameterType="org.pactera.spring.boot.learn.entity.UserEntity">
        UPDATE user
        <set>
            <if test="req.name != null and req.name != ''">
                name   = #{req.name},
            </if>
            <if test="req.age != null">
                age    = #{req.age},
            </if>
            <if test="req.email != null and req.email != ''">
                email = #{req.email},
            </if>
            <if test="req.avatar != null and req.avatar != ''">
                avatar = #{req.avatar},
            </if>
        </set>
        WHERE id = #{req.id}
    </update>

    <!-- 通过id删除用户 -->
    <delete id="deleteUser">
        DELETE
        FROM user
        WHERE id = #{id}
    </delete>

</mapper>